@import "{}/node_modules/materialize-css/sass/materialize.scss";

.background-csl-pane{
    background-color:#d3d3d3;
    border-radius: 2px;
}
.addElementButton
{
    left:85%;
    top:2%;
}
nav{
    z-index: 10002;
    position: fixed;
    top:90%;
    left: 30%;
    right: 30%;
    max-width: 40%;
    opacity: 0.95;
    border-radius: 8px;
}

.overMap{
    position: fixed;
    z-index: 1;
}

//Estructura paneles.
.csl-left-pane{
    min-height: 100%;
    min-width: 10%;
    height: 100%;
    top:0px;
    opacity: 0.95;
}
.csl-bottom-pane{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.csl-right-pane{
    min-height: 100%;
    min-width: 10%;
    height: 100%;
    left:90%;
    top :0%;
    opacity: 0.95;
}
//pruebas para determinar areas y calculos

.calculation-box {
    height: 140px;
    width: 150px;
    position: absolute;
    top: 210px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
}

#calculate {
    min-height: 20px;
    background-color: #3887be;
    color: #fff;
    font-family: 'Open Sans';
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}

//------------------------------------------------------------------------------
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    opacity: 0.4;
}

#map { position:absolute; top:0; bottom:0; width:100%; } 



.mapbox-bg-blur{
    @extend .theme-background;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.mapbox-transp{
    @extend .theme-background;
    background-color: #000;
}

.opacity-null{
    opacity: 0;
}

// fade-in animation
.animated {
    -webkit-animation-duration: 46s;
    animation-duration:46s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    100% {opacity: 0;}
    0% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    100% {opacity: 0;}
    0% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

/* CSS declarations go here */
.theme-background{
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.element-rounded{
    color: #d3d3d3;
    border-radius: 40px;
}

.pull-right{
    float: right;
}

.pull-center{
    text-align: center;    
}

.title{
    color: #000;
}

.login-component{
    display: block;
    position: relative;
    float: none;
    opacity: 0.9;
    background-color: #f3f3f3;
}

.component-space{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sizeling{
    max-width: 50%;
    position: relative;
}

.centering{
    position: fixed;
    top: 50%;
    left: 50%;
}

.input-login{
    color: #000;
}