@import "{}/node_modules/materialize-css/sass/materialize.scss";



.mapboxgl-popup {
    max-width: 200px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.background-csl-pane{
    background-color:#1E1D27 !important;
    color: #d3d3d3;
}

.mapboxgl-ctrl-group{
    @extend .col;
    @extend .m1;
    @extend .offset-m11;
    @extend .z-depth-2;
    @extend .overMap;
    @extend .csl-right-pane;
    background-color:#302F3C !important;
    color: #d3d3d3;
    margin: 0 0 0 0 !important;
    border-radius: 0 0 0 0px !important;
}

.mapboxgl-ctrl-group > button {
    @extend .waves-effect;
    @extend .waves-green;
    width: 100% !important;
    height: 55px !important;
    border: none !important;
}

.positioning-absolute-rounded{
    margin-top: -4px !important;
}

.absolute-left-rounded{
    @extend .positioning-absolute-rounded;
    border-radius: 8px 0 0 8px; 
}

.absolute-right-rounded{
    @extend .positioning-absolute-rounded;
    border-radius: 0 8px 8px 0; 
}

.addElementButton
{
    left:90%;
    top:2%;
}

nav{
    z-index: 10002;
    position: fixed;
    top:90%;
    left: 30%;
    right: 30%;
    max-width: 40%;
    opacity: 0.95;
    border-radius: 8px;
}

.modal{
    opacity: 0.975;
    background-color: #302F3C;
}

.overMap{
    position: fixed;
    z-index: 1;
}

//Estructura paneles.
.csl-left-pane{
    min-height: 100%;
    min-width: 6em;
    max-width: 16em;
    height: 100%;
    top:0px;
    opacity: 0.9;
}

.csl-bottom-pane{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.csl-right-pane{
    min-height: 100%;
    min-width: 5%;
    height: 100%;
    left:95%;
    top :0%;
    opacity: 0.9;
}

//pruebas para determinar areas y calculos

.calculation-box {
    height: 140px;
    width: 150px;
    position: absolute;
    top: 210px;
    left: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 15px;
    text-align: center;
}

#calculate {
    min-height: 20px;
    background-color: #3887be;
    color: #fff;
    font-family: 'Open Sans';
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
}

p {
    font-family: 'Open Sans';
    margin: 0;
    font-size: 13px;
}

//------------------------------------------------------------------------------
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    opacity: 0.4;
}

#map { position:absolute; top:0; bottom:0; width:100%; } 



.mapbox-bg-blur{
    @extend .theme-background;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.mapbox-transp{
    @extend .theme-background;
    background-color: #000;
}

.opacity-null{
    opacity: 0;
}

// fade-in animation
.animated {
    -webkit-animation-duration: 46s;
    animation-duration:46s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeIn {
    100% {opacity: 0;}
    0% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    100% {opacity: 0;}
    0% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

/* CSS declarations go here */
.theme-background{
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.element-rounded{
    color: #d3d3d3;
    border-radius: 40px;
    opacity: 0.9;
}

.pull-right{
    float: right;
}

.pull-center{
    text-align: center;    
}

.title{
    color: #d3d3d3;
}

.login-component{
    display: block;
    position: relative;
    float: none;
    opacity: 0.9;
    background-color: #1E1D27;
}

.input-tag, .prefix, input:focus + label {
    color: #d3d3d3 !important;
}

  /* label underline focus color */
 .input-field input:focus {
    box-shadow: 0 1px 0 0 #0d47a1 !important
}

.component-space{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.sizeling{
    max-width: 50%;
    position: relative;
}

.centering{
    position: fixed;
    top: 50%;
    left: 50%;
}

.input-login{
    color: #d3d3d3;
}

.menu-element{
    color: #d3d3d3 !important;
}

.collapsible{
    border: none !important;
}

.collapsible-header{
    color: #d3d3d3 !important;
    background-color: #4E4F4E !important;
    border: none !important;
}

.collapsible-body{
    background-color: #b3b3b3  !important;
    border: none !important;
}

.titleProject{
    font-size: 25px;
    font-weight: 4px;
    color: #d3d3d3;
}

.without-translate{
    transform: none !important;
}

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
     background-color: rgba(74, 67, 62, 0.65);
}

.image-sizing-login{
    max-width: 400px;
    max-height: 400px;
}


.selectedLevel {
    font: 'Helvetica Neue';
    text-align: center;
    margin: 20px 0 20px 0;
    text-decoration: none !important;
    -webkit-transition: all 0.5s !important;
    -moz-transition: all 0.5s !important;
    transition: all 0.5s !important;
    font-size: 1.6em !important;
    font-weight: bold !important;
    color: #ccff90 !important;
}

.selectedLevelActive {
-webkit-animation: luzN 1.5s ease-in-out infinite alternate !important;
-moz-animation: luzN 1.5s ease-in-out infinite alternate !important;
animation: luzN 1.5s ease-in-out infinite alternate !important;
}

@-webkit-keyframes luzN {
    from {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #b2ff59, 0 0 17px #b2ff59, 0 0 20px #b2ff59, 0 0 25px #b2ff59, 0 0 37px #b2ff59;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #b2ff59, 0 0 8px #b2ff59, 0 0 10px #b2ff59, 0 0 12px #b2ff59, 0 0 17px #b2ff59;
    }
}
@-moz-keyframes luzN {
    from {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #b2ff59, 0 0 17px #b2ff59, 0 0 20px #b2ff59, 0 0 25px #b2ff59, 0 0 37px #b2ff59;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #b2ff59, 0 0 8px #b2ff59, 0 0 10px #b2ff59, 0 0 12px #b2ff59, 0 0 17px #b2ff59;
    }
}

@keyframes luzN {
    from {
        text-shadow: 0 0 2px #fff, 0 0 7px #fff, 0 0 10px #b2ff59, 0 0 17px #b2ff59, 0 0 20px #b2ff59, 0 0 25px #b2ff59, 0 0 37px #b2ff59;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #b2ff59, 0 0 8px #b2ff59, 0 0 10px #b2ff59, 0 0 12px #b2ff59, 0 0 17px #b2ff59;
    }
}
